canvas {
  border: 1px solid black;
  margin: 0 auto;
  display: block;
  letter-spacing: 15px;
  text-align: center;
}
#lettersContainer {
  display: block;
  min-width: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 990px;
  margin: 30px auto;
}
.letter {
  font-family: monospace;
  display: inline;
  font-size: 40px;
  border: 1px solid black;
  padding: 7px;
  cursor: pointer;
}
.button-pressed {
  background: red;
}
#startGameBtn {
  position: absolute;
  left: 50px;
  top: 100px;
  height: 70px;
  width: 200px;
  font-size: 130%;
}
